# Exemplo de variáveis de ambiente para o projeto
# Copie este arquivo para '.env' e altere as senhas localmente

# Configurações do Banco de Dados (PostgreSQL)
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=sua_senha_segura_aqui
POSTGRES_DB=ecommerce_dw

# Configurações do Kafka
KAFKA_BROKER=kafka:29092