# Segurança (Senhas e Credenciais)
.env

# Ambiente Virtual Python
venv/
env/
__pycache__/
*.pyc

# Arquivos gerados pelo dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml

# Arquivos de Sistema Operacional (Evita lixo do Windows/Mac)
.DS_Store
Thumbs.db